In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston

In [2]:
data = [
    {'Name': 'Alice', 'Age': 24, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 27, 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 22, 'City': 'Chicago'},
    {'Name': 'David', 'Age': 32, 'City': 'Houston'}
]

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston

In [3]:
import numpy as np

data = np.array([
    ['Alice', 24, 'New York'],
    ['Bob', 27, 'Los Angeles'],
    ['Charlie', 22, 'Chicago'],
    ['David', 32, 'Houston']
])

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

      Name Age         City
0    Alice  24     New York
1      Bob  27  Los Angeles
2  Charlie  22      Chicago
3    David  32      Houston

In [4]:
df['Salary'] = [50000, 60000, 45000, 70000]
print(df)

      Name Age         City  Salary
0    Alice  24     New York   50000
1      Bob  27  Los Angeles   60000
2  Charlie  22      Chicago   45000
3    David  32      Houston   70000

In [5]:
df.drop('Salary', axis=1, inplace=True)
print(df)

      Name Age         City
0    Alice  24     New York
1      Bob  27  Los Angeles
2  Charlie  22      Chicago
3    David  32      Houston

In [6]:
print(df.describe())

         Name Age      City
count       4   4         4
unique      4   4         4
top     Alice  24  New York
freq        1   1         1

In [8]:
print(df['Age'].sum())
print(df['Age'].astype(int).mean())
print(df['Age'].astype(int).median())

24272232
26.25
25.5

In [9]:
df.rename(columns={'Name': 'Full Name', 'City': 'Location'}, inplace=True)
print(df)

  Full Name Age     Location
0     Alice  24     New York
1       Bob  27  Los Angeles
2   Charlie  22      Chicago
3     David  32      Houston

In [10]:
names = df['Full Name']
print(names)

0      Alice
1        Bob
2    Charlie
3      David
Name: Full Name, dtype: object

In [11]:
subset = df[['Full Name', 'Location']]
print(subset)

  Full Name     Location
0     Alice     New York
1       Bob  Los Angeles
2   Charlie      Chicago
3     David      Houston

In [12]:
young_people = df[df['Age'].astype(int) < 30]
print(young_people)

  Full Name Age     Location
0     Alice  24     New York
1       Bob  27  Los Angeles
2   Charlie  22      Chicago

In [13]:
people_in_ny = df.query("Location == 'New York'")
print(people_in_ny)

  Full Name Age  Location
0     Alice  24  New York

In [14]:
row = df.loc[0]
print(row)

subset = df.loc[0:2, ['Full Name', 'Age']]
print(subset)

Full Name       Alice
Age                24
Location     New York
Name: 0, dtype: object
  Full Name Age
0     Alice  24
1       Bob  27
2   Charlie  22

In [15]:
row = df.iloc[1]
print(row)

subset = df.iloc[0:2, 0:2]
print(subset)

Full Name            Bob
Age                   27
Location     Los Angeles
Name: 1, dtype: object
  Full Name Age
0     Alice  24
1       Bob  27

In [16]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [50000, 60000, 45000, 70000, 65000]
}

df = pd.DataFrame(data)
print("Initial DataFrame:")
print(df)

# Adding a new column
df['Bonus'] = df['Salary'] * 0.1
print("\nDataFrame after adding Bonus column:")
print(df)

Initial DataFrame:
      Name  Age         City  Salary
0    Alice   24     New York   50000
1      Bob   27  Los Angeles   60000
2  Charlie   22      Chicago   45000
3    David   32      Houston   70000
4      Eva   28      Phoenix   65000

DataFrame after adding Bonus column:
      Name  Age         City  Salary   Bonus
0    Alice   24     New York   50000  5000.0
1      Bob   27  Los Angeles   60000  6000.0
2  Charlie   22      Chicago   45000  4500.0
3    David   32      Houston   70000  7000.0
4      Eva   28      Phoenix   65000  6500.0

In [17]:
# Renaming columns
df.rename(columns={'Name': 'Employee Name', 'City': 'City of Residence'}, inplace=True)
print("\nDataFrame after renaming columns:")
print(df)

# Filtering data
high_salary = df[df['Salary'] > 55000]
print("\nEmployees with Salary greater than 55000:")
print(high_salary)

# Selecting specific columns
selected_columns = df[['Employee Name', 'Age', 'Bonus']]
print("\nSelected columns (Employee Name, Age, Bonus):")
print(selected_columns)

# Basic statistics
average_age = df['Age'].mean()
total_salary = df['Salary'].sum()
print(f"\nAverage Age: {average_age}")
print(f"Total Salary: {total_salary}")

DataFrame after renaming columns:
  Employee Name  Age City of Residence  Salary   Bonus
0         Alice   24          New York   50000  5000.0
1           Bob   27       Los Angeles   60000  6000.0
2       Charlie   22           Chicago   45000  4500.0
3         David   32           Houston   70000  7000.0
4           Eva   28           Phoenix   65000  6500.0

Employees with Salary greater than 55000:
  Employee Name  Age City of Residence  Salary   Bonus
1           Bob   27       Los Angeles   60000  6000.0
3         David   32           Houston   70000  7000.0
4           Eva   28           Phoenix   65000  6500.0

Selected columns (Employee Name, Age, Bonus):
  Employee Name  Age   Bonus
0         Alice   24  5000.0
1           Bob   27  6000.0
2       Charlie   22  4500.0
3         David   32  7000.0
4           Eva   28  6500.0

Average Age: 26.6
Total Salary: 290000